@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

:root{
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

body{
    overflow: hidden;
}

main{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card-front{
    background-image: url(images/bg-card-front.png);
    background-size: contain;
    background-repeat: repeat;
    height: 250px;
    width: 456px;
    position: absolute;
    z-index: 1000;
    margin: 150px 20px 50px 150px;
    padding: 20px;
    border-radius: 10px;
}

.card-back{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(images/bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 456px;
    position: absolute;
    z-index: 1000;
    margin: 430px 20px 20px 220px;
    padding: 20px 50px 20px 20px;
    border-radius: 10px;
}

.card-logo{
    margin-bottom: 50px;
}

.card-front h1{
    margin-bottom: 50px;
    font-size: 27px;
    color: var(--white);
    letter-spacing: 5px;
    font-weight: 500;
}

.secondary-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name,.date,.cvc{
    letter-spacing: 2px;
    color: var(--white);
    font-size: 16px;
}

.gradient-background{
    position: absolute;
    height: 100vh;
}


.input-section{
    margin: 250px 400px 50px 250px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    align-items: flex-start;
}



form div{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 12px;
    color: var(--very-dark-violet);
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    padding: 10px 30px 10px 10px;
    width: 320px;
    border-radius: 5px;
    border: solid 1.5px var(--light-grayish-violet);
    margin-bottom: 25px;
    color: var(--very-dark-violet);
}

input:focus{
    border: solid 1.5px blue;
}

::placeholder{
    color: var(--light-grayish-violet);
}

.additonal-details{
    display: flex;
    flex-direction: row;
}

.expiry-date{
    display: flex;
    flex-direction: row;
}

.expiry-date input{
    width: 80px;
    margin-right: 10px;
}
.cvc-input{
    margin-left: 15px;
}

.cvc-input input{
    width: 100%;
}

.submit-btn,.continue-btn{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: var(--very-dark-violet);
    color: white;
    margin-top: 30px;
    cursor: pointer;
}

.username-error,.card-number-error,.expiry-month-error,.expiry-year-error,.cvc-error{
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
    display: none;
}

.success{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success .success-text1,.success-text2{
    margin-top: 30px;
}

.success-text1{
    color: var(--very-dark-violet);
}

.success-text2{
    color: var(--light-grayish-violet);
    font-weight: var(--dark-grayish-violet);
    font-weight: 500;
}





/* RESPONSIVE  */

@media (max-width:1180px) {
body{
    overflow: scroll;
}

    main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .card-section{
        margin: 0;
        padding: 0;
    }


    .gradient-background{
        margin: 0;
        padding: 0;
        width:  100vw;
        height: 30vh;
    }

.card-logo{
    height: 30px;
    width: auto;
    margin-bottom: 50px;
}

    .card-front{
        position: absolute;
        margin: 140px 0px 100px 15px;
        height: 200px;
        width: 340px;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .card-front h1{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .name,.date{
        font-size: 12px;
    }

    .card-back{
        position: absolute;
        z-index: 0;
        margin: 30px 40px 100px 50px;
        height: 200px;
        width: 340px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .input-section{
        margin: 200px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        align-items: flex-start;
        padding: 0px 30px;
    }
}

